.button_type_like {
    background-image: url(../../../images/LikeButton.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20.76px;
    height: 18.13px;
}

.button_type_like:hover {
    opacity: 0.5;
}

/*Такое состояние есть и в макете и в задании
В задании: "Для иконки сердечка подготовьте сразу и активное состояние — иконка
должна закрашиваться чёрным. Сейчас это не пригодится, но потребуется в следующем спринте."
Ссылка на скриншот из макета: https://disk.yandex.ru/i/INRBMekSZazfhA
Нигде не написано что "По заданию у кнопки должен быть булевый модификатор активного лайка.
Для него должна быть своя файловая структура."
 */

.button_type_like:active {
    background-image: url(../../../images/LikeButtonActive.svg);
    opacity: 1;
}